/* Scheme https://coolors.co/16054a-c8a6b4-f05d5e-0f7173-e7ecef
          https://coolors.co/16054a-c8a6b4-f05d5e-0f7173-64a6bd  */
html, body {
    font-family: Raleway, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16054a+0,c8a6b4+100 */
    background: #16054a; /* Old browsers */
    background: -moz-linear-gradient(45deg, #16054a 0%, #c8a6b4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #16054a 0%, #c8a6b4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #16054a 0%, #c8a6b4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16054a', endColorstr='#c8a6b4', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    color: #FFF;
    /* hsl(207,8%,22%) */
}

a {
    color: #f05d5e;
}

a:visited {
    color: #f05d5e;
    text-decoration: none;
}

a:hover {
    color: #64a6bd;
    text-decoration: none;
}

#main-wrapper {
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 100;
}

#header-wrapper {
    height: 15%;
}

#main-navigator{
    padding-top: 30px;
    float: right;
    padding-right: 30px;
    display: none;
}

#center-wrapper {
    padding-left: 10vw;
    padding-right: 10vw;
    height: 75%;
    vertical-align: middle;
    text-align: left;
    overflow: auto;
}

#center-wrapper::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6); */
    background-color: rgba(0, 0, 0, 0);
}

#center-wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#center-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
}

#center-wrapper h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 0.9;
}

.nickname {
    font-size: 25px;
    font-weight: 100;
}

.workat {
    font-size: 30px;
    padding-top: 5vh;
    font-weight: 300;
}

.bio {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 200;
}

.links {
    padding-top: 60px;
}

.links img {
    max-width: 50px;
    max-height: 50px;
    margin-left: 15px;
}

.links img.first {
    margin: 0;
}

#footer-wrapper {
    padding-top: 20px;
    height: 10%;
    font-size: 10px;
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Project page */
.platform-container {
    /* padding: 25px;
    border: solid 1px #FFF;
    border-radius: 10px; */
    padding-top: 20px;
}

.platform-container img {
    max-width: 100px;
    max-height: 50px;
    margin-left: 0px;
}

.platform-container .image-container {
    float: left;
    width: 150px;
    height: 100%;
    display: table-cell;
}

.platform-container .projects-container {
    display: table-cell;
}

.projects-container .single-project {
    padding-bottom: 15px;
}

.projects-container .title {
    font-weight: 700;
    font-size: 18px
}

.projects-container .description {
    font-size: 15px
}

.projects-container .project-site {
    padding-left: 5px;
    font-weight: 400;
}

/* ======== */

.font-shadow {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

/* Particles */

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#blurCanvasTop {
    left: 0%;
    top: 0%;
    position: absolute;
}

#blurCanvasBottom {
    left: 50%;
    top: 0;
    position: absolute;
}

#blurCanvasTop {
    left: 0%;
    top: 0%;
    position: absolute;
}

#blurCanvasBottom {
    left: 50%;
    top: 0;
    position: absolute;
}

.blur {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 10;
}

.blurTop {
    left: 40%;
    top: -110%;
    transform: rotate(20deg);
    transform-origin: 0 100%;
}

.blurBottom {
    left: -60%;
    top: 100%;
    transform: rotate(20deg);
    transform-origin: 100% 0%;
}