<h2>Gabriele Proietti Mattia &raquo; Projects</h2>
<h1>My projects</h1>
<h2>Platforms</h2>
<div class="platform-container">
    <div class="image-container">
        <img src="/img/android.png" align="baseline"/>
    </div>
    <div>
        <h3>Huawei Mate 7 Android Development</h3>
        <p>Android development for the Huawei Ascend Mate 7</p>
        <h3>ColorPlayer</h3>
        <p>Android development for the Huawei Ascend Mate 7</p>
    </div>
</div>
<div class="platform-container">
    <div class="image-container">
        <img src="/img/windows.png" align="baseline"/>
    </div>
    <div>
        <h3>iTunesLyricsGrabber</h3>
        <p>Utility to find lyrics to all your iTunes tracks</p>
    </div>
</div>
<h2>Web</h2>