/* Default app-view */
.app-view{
    transition: 300ms;
}

/* First animation*/
.first .app-view.ng-enter{
    left: -100%;
}

.first .app-view.ng-enter.ng-enter-active{
    left: 0%;
}

.first .app-view.ng-leave{
    left: 0%;
}

.first .app-view.ng-leave.ng-leave-active{
    left: 100%;
}

/* Second animation*/
.second .app-view.ng-enter{
    left: 100%;
}

.second .app-view.ng-enter.ng-enter-active{
    left: 0%;
}

.second .app-view.ng-leave{
    left: 0%;
}

.second .app-view.ng-leave.ng-leave-active{
    left: -100%;
}

/* Third animation*/
.third .app-view.ng-enter{
    top: 100%;
}

.third .app-view.ng-enter.ng-enter-active{
    top: 0%;
}

.third .app-view.ng-leave{
    top: 0%;
}

.third .app-view.ng-leave.ng-leave-active{
    top: -100%;
}

/* Third animation*/
.welcome .app-view.ng-enter{
    opacity: 0;
}

/* Fade In animation */
.fade-in .app-view.ng-enter{
    opacity:0
}
.fade-in .app-view.ng-enter.ng-enter-active{
    opacity:1
}