//
   Created by gabry3795 on 9/24/16.
h1 My Projects
div#projects-wrapper
    div.platform-container
        div.image-container
            img(src="/img/android.png")
        div.projects-container
            div.single-project
                h2.title Huawei Mate 7 Android development
                    a(href="http://github.com/mt7-dev", target="_blank").project-site Visit &raquo
                p.description I started to port Cyanogenmod and AOSP to Huawei Ascend Mate 7 device. Cyanogenmod resulted incompatible with Huawei framework but AOSP it's working correctly. I opened #[a(href="http://github.com/mt7-dev", target="_blank") repo pool] and a #[a(href="http://forum.xda-developers.com/mate-7/orig-development/rom-aosp-ascend-mate7-t3465656", target="_blank") thread] on XDA.
            div.single-project
                h2.title ColorPlayer
                p.description Simple music player for Android, still in development.
    div.platform-container
        div.image-container
            img(src="/img/windows.png")
        div.projects-container
            div.single-project
                h2.title iTunesLyricsGrabber
                    a(href="http://tuttodinternet.com/itlg", target="_blank").project-site Visit &raquo
                p.description Application that allows you to automatically add lyrics to all the iTunes tracks.
    div.platform-container
        div.image-container
            p Web Development
        div.projects-container
            div.single-project
                h2.title Tuttodinternet Blog
                    a(href="http://tuttodinternet.com/", target="_blank").project-site Visit &raquo
                p.description My blog where I post guides, suggestions and downloads regarding Web, Computers and Music.
            div.single-project
                h2.title MyLastIP
                    a(href="http://tuttodinternet.com/mylastip", target="_blank").project-site Visit &raquo
                p.description Platform that allows the user to know its machine IP everywhere everywhere. Works with a daemon installed on the machine. I totally re-wrote the server side of the app by using the MEAN Stack, the source is available #[a(href="https://github.com/gabry3795/mylastip-webapp", target="_blank") here].
            div.single-project
                h2.title PPI Calculator
                    a(href="http://tuttodinternet.com/ppi", target="_blank").project-site Visit &raquo
                p.description Simple online form to calculate display ppi.
            div.single-project
                h2.title UrlTest
                    a(href="http://tuttodinternet.com/urltest", target="_blank").project-site Visit &raquo
                p.description Test http headers of many links at time.
    div.platform-container
        div.image-container
            p Linux
        div.projects-container
            div.single-project
                h2.title MyLastIP Daemon
                    a(href="http://tuttodinternet.com/mylastip", target="_blank").project-site Visit &raquo
                p.description Client side of MyLastIP application. Source #[a(href="https://github.com/gabry3795/mylastip-daemon", target="_blank") here].
    div.platform-container
        div.image-container
            p iOS
        div.projects-container
            div.single-project
                h2.title Waketrace
                    a(href="http://tuttodinternet.com/waketrace", target="_blank").project-site Visit &raquo
                p.description The first Cydia Tweak linked to the Health App that allows you to track your sleep easily.
