//
   Created by gabry3795 on 9/24/16.
h1#fullname Gabriele Proietti Mattia
p.nickname @gabry3795
p.workat Computer Engineering Student
p.bio I'm studying Computer Engineering at Sapienza University of Rome. I like programming, music and playing.
p.links
    a(href="http://github.com/gabry3795", target="_blank")
        img(src="img/git.png").first
    a(href="http://bitbucket.com/gabry3795", target="_blank")
        img(src="img/bitbucket.png")
